body {
  color: #555;
  height: 100vh;
  margin: 0;
  padding: 10px 20px;
  position: relative;
  width: 100vw;

  header {
    border-bottom: 1px solid #dddddd;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 10em;
    }
  }
}
